API_ID=31435101
API_HASH=cb82d3b2def6a1e09ba73edb069da9b9
BOT_TOKEN=8937773941:AAF2ztacLB07q3ag957Pj5ivt_w5nQGah-Q
STRING_SESSION=BQHfqV0ADm6J4jS6fxP3yMR6PXJ1O9HQrL18PI76eqKlydbV9gt2HfCEponO3ntnWmkWmZW3D30R610ExR5tgGHi2_vthGLX0CsSYq1iP4A4uhswn0yPj48dGb3U9jgFVdyY8iFyuYq4O5XyME_SO8LOpV34tzsM1s9LyRoIhP1-mJlEnVK5eP_sX5EcgkS723G6l9zdDn696Tg3FAQM2gvDp0gVPhNKhBAP95mSc8_q8XlvDRBNFv5HIzT5DRfaADzJiWq6oKsvh_m1Uq_7FLFacxBdHBtfTtmftu6q42er61cZs2nMb9H06kjs7bzF8ilB9KzD6vnaf7FyqjrAyMA1klT5OwAAAAGb8f6SAA
LOG_GROUP_ID=-1004485534183
OWNER_ID=8220803062
MONGO_DB_URI=mongodb+srv://likeeadii80_db_user:BvxekuzSBMuULZmv@cluster0.08xzqdo.mongodb.net/?appName=Cluster0
API_KEY=ZEXXY1NEXOR
API_URL=https://a56389-6bee.c.jrnm.app
API_TYPE=audio
API_FORMAT=mp3
SUPPORT_URL=https://t.me/NBxCHATx
CHANNEL_URL=https://t.me/NBxCODEX
OWNER_URL=t.me/NabilWave
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600