API_ID=
API_HASH=
BOT_TOKEN=8937773941:AAF2ztacLB07q3ag957Pj5ivt_w5nQGah-Q
STRING_SESSION=BQHDLbkACv2RVuiL89iWyGsF60f1WYT8SLuaRLBh9hOAHw9PtXJ1T5VMue2K-QcpCmG6vE4S2wtD-VhfI-9j6xbbMiE1B78qhHRLigZx3kv1m-LuFRp6fzFiNIu7pO6l10RBfKZYPiSZ0BVPX559rpt87lgw3aM_7oNN8UELYj_YliV2JFfU9-Im8yyTp7EA-omBHk239_5Ml8vTTaN7fnJSCHnHXg6K2TP5Kl-GtwZwh5MbADVy9HnjT3a7r4jpeSMedO2oAopXAHloMfgi0BJcj5bqOr24eT5MWWMwoxfEcsn7C_j9Ee3B6zntV2iNFTvKM7XyPdle0ZZcUfiSrfE-IvzzFgAAAAGloo-pAA
LOG_GROUP_ID=
OWNER_ID=8220803062
MONGO_DB_URI=mongodb+srv://likeeadii80_db_user:BvxekuzSBMuULZmv@cluster0.08xzqdo.mongodb.net/?appName=Cluster0
API_KEY=ZEXXY1NEXOR
API_URL=https://a56389-6bee.c.jrnm.app
API_TYPE=audio
API_FORMAT=mp3
SUPPORT_URL=https://t.me/NBxCHATx
CHANNEL_URL=https://t.me/NBxCODEX
OWNER_URL=t.me/NabilWave
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600